/* Noto Sans KR 글꼴을 가져옴 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 

선택자(스타일을 적용할 태그나 클래스(.)나 아이디(#)) {
    속성: 값
}

*/


/* 기본 스타일 설정 */
body, h1, p {
    margin: 0; /* 페이지 여백 초기화 */
    padding: 0; /* 페이지 안의 요소 여백 초기화 */
    font-size: larger; /* 폰트 크기 설정 */
    font-weight: bolder; /* 폰트 굵기 설정 */
    font-family: 'Noto Sans KR', sans-serif; /* 글꼴 설정 */
}

/* header 스타일 */
.page-header {
    background-image: url("HeaderFooter.gif"); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지 크기 설정 */
    background-position: center; /* 배경 이미지 위치 설정 */
    color: white; /* 글자색 설정 */
    padding: 35px; /* 내부 여백 설정 */
    display: flex; /* 플렉스 박스 사용 */
    justify-content: center; /* 세로 방향으로 가운데 정렬 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 가로 방향으로 가운데 정렬 */
    text-align: center; /* 텍스트를 수평으로 가운데 정렬 */
    font-size: 40px; /* 폰트 크기 설정 */
}


/* main 스타일 */
.container-fluid {
    background-image: url("main.png"); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지 크기 설정 */
    background-position: center; /* 배경 이미지 위치 설정 */
}

/* main content 스타일*/
.main-content {
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: row;   /* 가로 방향으로 행 정렬 */
    justify-content: space-between; /* 요소 간 여백을 최대화하여 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}


/* main의 왼쪽 스타일 */
#moreButton {
    position: fixed; /* 화면 고정 위치 설정 */
    top: 10px; /* 위에서 10px 거리에 위치 */
    right: 10px; /* 오른쪽에서 10px 거리에 위치 */
    background-color: #3498db; /* 배경 색상 설정 */
    color: #fff; /* 글자색 설정 */
    padding: 10px; /* 여백 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 스타일을 포인터로 설정하여 클릭 가능한 상태로 변경 */
}

/* 왼쪽 사이드 및 버튼 스타일 설정 */
#left_side_btn button {
    display: block; /* 블록 레벨 요소로 설정 */
    margin-bottom: 10px; /* 아래 여백 설정 */
}

#left_side_btn button {
    display: block; /* 블록 레벨 요소로 설정 */
    margin-bottom: 10px; /* 하단 여백 설정 */
    margin-left: 100px; /* 좌측 여백 설정 */
    margin-right: 50px; /* 우측 여백 설정 */
    width: 100px;  /* 버튼 가로 너비 설정 */
    height: 45px; /* 높이 설정 */
}
/* .btn.btn-outline-primary:active {
    background-color: #007bff;
} */

/*부트스트랩 색상표
primary - #007bff
secondary - #6c757d
success - #28a745
danger - #dc3545
warning - #ffc107
info - #17a2b8
light - #f8f9fa
dark - #343a40
muted - #6c757d
white - #ffffff*/



/* main의 Map 스타일 */
.highlight-box {
    position: absolute; /* 절대 위치 설정 */
    background-color: rgba(255, 255, 255, 0.7); /* 배경 색상 및 투명도 설정 */
    border: 1px solid #000; /* 테두리 설정 */
    padding: 5px; /* 여백 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
}

#infoBox {
    position: absolute; /* 절대 위치 설정 */
    background-color: rgba(255, 255, 255, 0.9); /* 배경 색상 및 투명도 설정 */
    border: 1px solid #000; /* 테두리 설정 */
    padding: 10px; /* 여백 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
    display: none; /* 초기에는 숨김 처리 */
    max-width: 300px; /* 최대 너비 설정 */
}

.areaBox {
    display: none; /* 초기에는 숨김 처리 */
    position: absolute; /* 절대 위치 설정 */
    width: 200px; /* 너비 설정 */
    height: 160px; /* 높이 설정 */
    border: 1px solid white; /* 테두리 설정 */
    border-radius: 5%; /* 테두리 모서리 둥글게 설정 */
    background-color: gray; /* 배경 색상 설정 */
}

#graphImage {
    max-width: 100%; /* 이미지가 infoBox를 넘어가지 않도록 최대 너비 설정 */
}


/* main의 레버 스타일 */
/* 슬라이드와 년도 부분 */
.dateBoxContainer {
    position: relative; /* 상대 위치 설정 */
}

#lever {
    width: 600px; /* 너비 설정 */
    margin-bottom: 30px; /* 하단 여백 설정 */
    margin-left: 300px;  /* 좌측 여백 설정, 230px에서 50px 감소 */
}

#month-display {
    color: rgb(255, 255, 255); /* 또는 다른 대조되는 색상 */
    font-size: 16px; /* 폰트 크기 설정 */
    font-weight: normal;  /* 폰트 굵기 설정 */
    display: block; /* 블록 레벨 요소로 설정 */
    position: absolute; /* 절대 위치 설정 */
    top: 0; /* 상단 여백 설정 */
    left: 200px; /* 월 표시를 왼쪽으로 이동하는 정도를 조절 */
}


/* main의 게시판 스타일 */
/* side_board */
.board-container {
    font-family: Sans-serif; /* 글꼴 설정 */
    font-size: 14px; /* 폰트 크기 설정 */
    width: 500px;  /* 너비 설정 */
    max-width: 300px;  /* 최대 너비 설정 */
    box-sizing: border-box; /* 상자 크기 설정 */
    margin-top: -180px; /* 상단 여백 설정 */
}


/* 제일 큰 제목 */
h2 {
    color: #000000;
}

/*오른쪽 게시판 세부조정*/
.dd-item:hover,
button:hover {
    color: #574798; /* 호버 시 글자색 설정 */
    will-change: box-shadow; /* 박스 그림자 변경 설정 */
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), 
                background-color .2s cubic-bezier(.4, 0, .2, 1), 
                color .2s cubic-bezier(.4, 0, .2, 1); /* 전환 효과 설정 */
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 
                0 3px 1px -6px rgba(0, 0, 0, .2), 
                2px 5px 3px 0 rgba(0, 0, 0, .12); /* 박스 그림자 설정 */
}

ol.covid.news {
    border-top: 5px solid #6a5acd; /* 윗 테두리 설정 */
}

ol.covid {
    border-top: 5px solid rgb(255, 64, 0); /* 윗 테두리 설정 */
    width: 80%; /* 너비 설정 */
    height: auto; /* 자동 높이 설정 */
    margin: 1%; /* 여백 설정 */
    max-width: 250px; /* 최대 너비 설정 */
    min-width: 120px; /* 최소 너비 설정 */
    display: inline-block; /* 인라인 블록 요소로 설정 */
    vertical-align: top; /* 상단 정렬 설정 */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
                0 3px 1px -2px rgba(0, 0, 0, .2), 
                0 1px 5px 0 rgba(0, 0, 0, .12); /* 박스 그림자 설정 */
    flex-direction: column; /* 세로 방향으로 열 정렬 */
    min-height: 200px; /* 최소 높이 설정 */
    z-index: 1; /* 층 순서 설정 */
    position: relative; /* 상대 위치 설정 */
    background: #ccccff; /* 배경 색상 설정 */
    padding: 1em; /* 여백 설정 */
    border-radius: 2px; /* 테두리 모서리 둥글게 설정 */
}

.title {
    align-self: flex-end; /* 우측 정렬 설정 */
    color: inherit; /* 상속된 글자색 사용 */
    display: block; /* 블록 레벨 요소로 설정 */
    display: -webkit-flex; /* 웹킷 기반의 플렉스 박스 사용 */
    display: -ms-flexbox; /* IE에서 플렉스 박스 사용 */
    display: flex; /* 플렉스 박스 사용 */
    font-size: 24px; /* 폰트 크기 설정 */
    line-height: normal; /* 줄 간격 초기화 */
    overflow: hidden; /* 넘치는 컨텐츠 감추기 설정 */
    -webkit-transform-origin: 149px 48px; /* 변형 기준점 설정 */
    transform-origin: 149px 48px; /* 변형 기준점 설정 */
    margin: 0; /* 페이지 여백 초기화 */
}

.text {
    color: grey; /* 글자색 */
    border-top: 1px solid; /* 윗 테두리 설정 */
    font-size: 13px; /* 폰트 크기 설정 */
    font-weight: 400; /* 폰트 굵기 설정 */
    line-height: 18px; /* 줄 간격 설정 */
    overflow: hidden; /* 넘치는 컨텐츠 감추기 설정 */
    padding: 100px; /* 여백 설정 */
    width: 100%; /* 너비 설정 */
    margin: 0; /* 페이지 여백 초기화 */
    padding: 0; /* 페이지 안의 요소 여백 초기화 */
    border: none; /* 테두리 없음 */
    outline: none; /* 아웃라인 없음 */
    display: inline-block; /* 인라인 블록 요소로 설정 */
}

.text a::before {
    content: "\2022"; /* 내용으로 점 표시 설정 */
    margin-right: 5px; /* 우측 여백 설정 */
}

.text::before { /* 오른쪽 게시판 타이틀과 링크 사이에 줄 */
    content: ""; /* 내용 없음 */
    display: block; /* 블록 레벨 요소로 설정 */
    border-top: 2px solid #ccccff; /* 윗 테두리 설정 */
    margin: 8px 0; /* 여백 설정 */
}

.dd-item {
    display: block; /* 블록 레벨 요소로 설정 */
    margin: 5px 0; /* 여백 설정 */
    padding: 5px 10px; /* 여백 설정 */
    color: #333; /* 글자색 설정 */
    text-decoration: none; /* 밑줄 없음 */
    font-weight: bold; /* 폰트 굵기 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    background: #e7e3ff; /* 배경 색상 설정 */
    -webkit-border-radius: 3px; /* 웹킷 기반 브라우저에서의 테두리 모서리 둥글게 설정 */
    border-radius: 3px; /* 테두리 모서리 둥글게 설정 */
    box-sizing: border-box; /* 상자 크기 설정 */
    -moz-box-sizing: border-box; /* 모질라 기반 브라우저에서의 상자 크기 설정 */
}

.dd-item:hover {
    background: #fff; /* 호버 시 배경 색상 설정 */
}


/* footer 스타일 */
.footer {
    background-image: url("HeaderFooter.gif"); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지 크기 설정 */
    background-position: center; /* 배경 이미지 위치 설정 */
    color: white; /* 글자색 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    padding: 10px; /* 여백 설정 */
    width: 100%; /* 너비 설정 */
}

#copyright {
    font-size: 17px; /* 폰트 크기 설정 */
    font-weight: 100; /* 폰트 굵기 설정 */
}

#nickname {
    font-size: 9px; /* 폰트 크기 설정 */
    font-weight: 100; /* 폰트 굵기 설정 */
    white-space: pre; /* 공백 문자 유지 설정 */
}